<div class="jumbotron">
  <h1>遂行セヨ</h1>
  <p class="lead">毎日0時にMissionを与えます。<br>Mission遂行したら証拠とともにTwitterで報告して下さい。ハッシュタグは#donemissionです。</p>
</div>

<h3>本日のMission</h3>
<div class="callout callout-danger">
  <h4>最新のカメラを調査せよ</h4>
  <p>カメラについて調べ報告してくれ。</p>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>遂行報告</h3>
    <p class="tweets text-center">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/donemission" data-widget-id="485225463736844289">#donemission件のツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
  </div>
  <div class="col-md-6">
    <h3>過去のMission</h3>
    <div class="callout callout-warning">
      <h4>コンビニを調査せよ(7/6)</h4>
      <p>コンビニを調査しろ。コンビニを見つけて報告してくれ。</p>
    </div>
    <div class="callout callout-warning">
      <h4>そばを食え(7/5)</h4>
      <p>そばを食え。</p>
    </div>
  </div>
</div>

