<div class="jumbotron">
  <h1>遂行セヨ</h1>
  <p class="lead">毎日、ミッションを与えます。<br>ミッション遂行したら証拠の画像を添付し、Twitterでつぶやいて下さい。ハッシュタグは#donemissionです。</p>
</div>

<h3>本日のミッション</h3>
<div class="callout callout-danger">
  <h4>そばを食え</h4>
  <p>7/4中にそばを食え。</p>
</div>

<h3>ミッション遂行ツイート</h3>
<div class="tweets text-center">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/soccer" data-widget-id="484440029721149440">#soccer件のツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
