@import 'colors';

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin-bottom: 30px;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #e5e5e5;
  h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

.container {
  max-width: 730px;
}

.footer {
  padding-top: 19px;
  padding-right: 0;
  padding-left: 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  border-bottom: 0;
  text-align: center;
  background-color: $gray-dark;
  color: #fff;
  p {
    font-size: 20px;
  }
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #eee;
  border-left-width: 5px;
  border-radius: 3px
}

.callout-warning {
  border-left-color: $brand-warning;
  h4 {
    color: $brand-warning;
  }
}

.callout-danger {
  border-left-color: $brand-danger;
  h4 {
    color: $brand-danger;
  }
}

.tweets {
  margin: 20px 0;
}

.concept {
  h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  p {
    font-size: 14px;
  }
}

.mission-detail {
  margin-top: -20px;
  max-width: 730px;
  background-color: $brand-danger;
  overflow: hidden;
  font-weight: bold;
  .remain-time {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
  }
  .challenge-num {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
  }
}


