body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin-bottom: 30px;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #e5e5e5;
  h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

.container {
  max-width: 730px;
}

.footer {
  padding-top: 19px;
  padding-right: 0;
  padding-left: 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  border-bottom: 0;
  text-align: center;
}
